In [1]:
pwd

'/content'

In [2]:
ls

loan_approval_dataset.csv  sample_data/

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('loan_approval_dataset.csv')
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   loan_id                    4269 non-null   int64
 1    no_of_dependents          4269 non-null   int64
 2    education                 4269 non-null   object
 3    self_employed             4269 non-null   object
 4    income_annum              4269 non-null   int64
 5    loan_amount               4269 non-null   int64
 6    loan_term                 4269 non-null   int64
 7    cibil_score               4269 non-null   int64
 8    residential_assets_value  4269 non-null   int64
 9    commercial_assets_value   4269 non-null   int64
 10   luxury_assets_value       4269 non-null   int64
 11   bank_asset_value          4269 non-null   int64
 12   loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [6]:
df.isnull().sum()

loan_id                      0
 no_of_dependents            0
 education                   0
 self_employed               0
 income_annum                0
 loan_amount                 0
 loan_term                   0
 cibil_score                 0
 residential_assets_value    0
 commercial_assets_value     0
 luxury_assets_value         0
 bank_asset_value            0
 loan_status                 0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [8]:
df

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [13]:
## columns renamed
df.columns = ['loan_id', 'no_of_dependents', 'education', 'self_employed',
       'income_annum', 'loan_amount', 'loan_term', 'cibil_score',
       'residential_assets_value', 'commercial_assets_value',
       'luxury_assets_value', 'bank_asset_value', 'loan_status']

In [15]:

df['cibil_score'].min(), df['cibil_score'].max()

(300, 900)

In [16]:
df.dtypes

loan_id                      int64
no_of_dependents             int64
education                   object
self_employed               object
income_annum                 int64
loan_amount                  int64
loan_term                    int64
cibil_score                  int64
residential_assets_value     int64
commercial_assets_value      int64
luxury_assets_value          int64
bank_asset_value             int64
loan_status                 object
dtype: object

In [19]:
b = df[df['cibil_score']>=700]

In [20]:
b.shape

(1430, 13)

In [26]:
df['self_employed'].value_counts().keys()

Index([' Yes', ' No'], dtype='object', name='self_employed')

In [28]:
self_employed = df[df['self_employed'] == " Yes"]

In [29]:
bussiness_man = df[df['self_employed'] == " No"]

In [31]:
self_employed['loan_status'].value_counts()

loan_status
 Approved    1338
 Rejected     812
Name: count, dtype: int64

In [32]:
bussiness_man['loan_status'].value_counts()

loan_status
 Approved    1318
 Rejected     801
Name: count, dtype: int64

In [34]:
df['education'].value_counts()

education
 Graduate        2144
 Not Graduate    2125
Name: count, dtype: int64

In [40]:


c = df[df['income_annum']>= df['income_annum'].mean()]
c['loan_status'].value_counts()

loan_status
 Approved    1325
 Rejected     820
Name: count, dtype: int64

In [41]:
df['loan_status'].value_counts()

loan_status
 Approved    2656
 Rejected    1613
Name: count, dtype: int64

In [42]:
df['education'].map({' Graduate':1,' Not Graduate':0})

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,Graduate,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,Not Graduate,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,Not Graduate,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,Not Graduate,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,Graduate,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [49]:
df['education'] = df['education'].map(lambda x:x[1:])

In [54]:
# map(function , iterable)

def square(x):
  return x**2

lst = [2,3,4,5]


for item in lst:
  print(square(item))

4
9
16
25

In [53]:
list(map(square,lst))

[4, 9, 16, 25]

In [56]:
df['education'] = df['education'].map({"Graduate":1,"Not Graduate":0})

In [57]:
df['self_employed'].map()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,1,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,0,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,1,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,1,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,0,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4264,4265,5,1,Yes,1000000,2300000,12,317,2800000,500000,3300000,800000,Rejected
4265,4266,0,0,Yes,3300000,11300000,20,559,4200000,2900000,11000000,1900000,Approved
4266,4267,2,0,No,6500000,23900000,18,457,1200000,12400000,18100000,7300000,Rejected
4267,4268,1,0,No,4100000,12800000,8,780,8200000,700000,14100000,5800000,Approved
4268,4269,1,1,No,9200000,29700000,10,607,17800000,11800000,35700000,12000000,Approved

In [59]:
column_ls_with_space  = ["self_employed","loan_status"]
for col in column_ls_with_space:
  df[col] = df[col].map(lambda x:x[1:])

In [61]:
df['self_employed'] = df['self_employed'].map({"Yes":1,"No":0})

In [65]:
df['loan_status'].value_counts(normalize=True)*100

loan_status
Approved    62.215976
Rejected    37.784024
Name: proportion, dtype: float64

In [68]:
df['loan_status'] = df['loan_status'].map({"Approved":1,"Rejected":0})

In [69]:
# y ===> loan status
# x ===>  other

x = df.drop('loan_status',axis=1)
y = df[['loan_status']]

In [70]:
df.isnull().sum()

loan_id                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [72]:
## TRaining testing split
from sklearn.model_selection import train_test_split

In [73]:
x_train,x_test,y_train, y_test = train_test_split(x,y,test_size=0.2)

In [77]:
####
no_of_neuron_at_input_layer = x.shape[1]
no_of_neuron_at_input_layer

output_layer_neuron = 1

In [85]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
ann_model = Sequential()

ann_model.add(Dense(units=68,activation='relu',input_dim=12))
ann_model.add(Dense(units=32,activation='relu'))
ann_model.add(Dense(units=24,activation='relu'))

ann_model.add(Dense(units=1,activation='sigmoid')) #softmax

ann_model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

ann_model.summary()

# "categorical_crossentropy"
# "sparse_categroical_crossentropy"


# input --> hidden layer --->  output  ---

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 68)                884

 dense_2 (Dense)             (None, 32)                2208

 dense_3 (Dense)             (None, 24)                792

 dense_4 (Dense)             (None, 1)                 25

=================================================================
Total params: 3909 (15.27 KB)
Trainable params: 3909 (15.27 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [86]:
history = ann_model.fit(x_train,y_train,epochs=5)

Epoch 1/5
107/107 [==============================] - 4s 4ms/step - loss: 49259.6055 - accuracy: 0.5537
Epoch 2/5
107/107 [==============================] - 0s 4ms/step - loss: 34130.5156 - accuracy: 0.5452
Epoch 3/5
107/107 [==============================] - 0s 4ms/step - loss: 47639.4258 - accuracy: 0.5359
Epoch 4/5
107/107 [==============================] - 0s 4ms/step - loss: 32025.9531 - accuracy: 0.5385
Epoch 5/5
107/107 [==============================] - 0s 4ms/step - loss: 20487.1543 - accuracy: 0.5546